@font-face{
    font-family: 'SFProDisplay-Regular', sans-serif;
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'SFProDisplay-Medium', sans-serif;
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'SFProDisplay-Bold', sans-serif;
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    color: var(--color-black);
    font-family: var(--font-SFB-r);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-section{
    margin-bottom: 80px;
}

/* VARIABLES */
:root{
    --color-white: #FFFFFF;
    --color-black: #2F3035;
    --color-black-f: #656464;
    --color-blue: #1C62CD;
    --color-gray :#F0F0F4;
    --color-light-gray: #C4C4C4;
    --color-light-gray-categ: #CDCDCD;

    --font-SFB-r: 'SFProDisplay-Regular', sans-serif;
    --font-SFB-m: 'SFProDisplay-Medium', sans-serif;
    --font-SFB-sb: 'SFProDisplay-Semibold', sans-serif;
    --font-SFB-b: 'SFProDisplay-Bold', sans-serif;
    --font-Bar: 'Barlow', sans-serif;
}

/* HEADER */

.header {
}
.header__top {
}


.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: var(font-SFB-b);
    font-weight: 700;
}
.menu {
}

.menu__list {
}

.menu__item {
    display: inline-block;
}

.menu__item + .menu__item{
    padding-left: 50px;
}

.menu__link {
}
.logo {
}
.logo__img {
}

.header__box {
    display: flex;
}

.header__adress {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}

.header__adress::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;
    background-image: url('../img/adress-icon.svg');
}
.user__list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.user__item {
    padding-right: 10px;
}

.basket{
    position: relative;
}

.basket__num{
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 50%;
    text-align: center;
    bottom: -15px;
    right: -14px;
}

.user__link {
}

.header__bottom {
    margin-bottom: 80px;
}

.menu__categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-gray);
    min-height: 53px;
}

.menu__categories__item {
    position: relative;
}

.menu__categories__link {
    transition: all .3s;
    font-weight: 400;
    padding: 15px 0 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__categories__link::before{
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    left: auto;
    bottom: -2px;
    background-color: var(--color-blue);
    height: 3px;
    transition: all .5s;
}

.menu__categories__link:hover::before{
    width: 100%;
    right: auto;
    left: 0;
}

.menu__categories__link:hover {
    color: var(--color-black);
    font-size: 16px;
}

/* BANNER */
.banner__section {
}
.banner__section-inner {
    display: flex;
    justify-content: space-between;
}
.banner__section__slider {
    max-width: 870px;
}
.banner__section__slider-item {
}
.banner__section__item {
}

.banner__section__slider-btn,
.product-slider__slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    /* z-index: 5; */
    cursor: pointer;
}

.banner__section__slider-btnprev{
    left: 20px;
}
.banner__section__slider-btnnext{
    right: 20px;
}

.slick-dots{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li{
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button{
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background-color: transparent;
}

.slick-active li button{
    background-color: var(--color-white);
}

.slick-slide img{
    display: inline;
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid var(--color-light-gray);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}
.sale-item__price {
    text-align: right;
}

.price {
    font-family: var(--font-Bar);
    position: relative;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: var(--color-blue);
    margin-right: 6px;
    padding-right: 20px;
}

.sale-item__price-new::after{
    content: "";
    background-image: url('../img/icons-price.svg');
    position: absolute;
    right: 0;
    top: 8px;
    width: 15px;
    height: 18px;
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-light-gray);
    margin-right: 15px;
    background-image: url('../img/old-line.svg');
    display: inline-block;
    padding: 2px 5px;
    background-repeat: no-repeat;
}

.sale-item__price-old::after{
    content: "";
    background-image: url('../img/icons-price-old.svg');
    position: absolute;
    right: -10px;
    top: 5px;
    width: 8px;
    height: 10px;
}

.sale-item__img {
    object-fit: contain;
}

.banner__section__slider-img{
    object-fit: cover;
    min-height: 400px;
}

.sale-item__title {
    font-size: 18px;
    line-height: 21px;
    font-family: var(--font-SFB-b);
    font-weight: 700;
    margin-bottom: 7px;
}

.sale-item__footer {
    background-color: var(--color-gray);
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span{
    color: var(--color-blue);
    display: block;
    font-family: var(--font-Bar);
    font-weight: 700;
}


/* SEARCH */

.search {
}

.page-section {
}

.container {
}

.search__inner {
}

.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 11px 26px 12px;
}

.search__tabs-item.tab--active{
    border-radius: 5px;
    background-color: var(--color-gray);
    font-weight: 700;
    font-family: var(--font-SFB-b);
}

.search__content {
}

.tabs-content {
    display: none;
}

.tabs-content.tabs-content--active{
    display: block;
}

.search__content-form {
    display: flex;
}

.search__content-input {
    background-color: var(--color-gray);
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.search__content-input::placeholder{
    color: var(--color-black-f);
}

.search__content-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--font-SFB-b);
    border-radius: 3px;
    background-color: var(--color-blue);
    padding: 17px 41px;
    border: none;
    margin-left: -3px;
}

/* CATEGORIES */

.categories {
}

.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    margin-bottom: 30px;
    border: 1px solid var(--color-light-gray-categ);
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all .3s;
}

.categories__item-title {
    font-family: var(--font-Bar);
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
}

.categories__item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title{
    color: var(--color-blue);
}

.categories__item-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-text {
    color: var(--color-light-gray);
    font-size: 14px;
    line-height: 17px;
}

.categories__item-text::after{
    content: url('../img/link-arrows.svg');
    padding-left: 2px;
}

.categories__item-img {
    text-align: center;
    width: 50%;
}

.categories__item-img img{
    max-width: 100%;
}

/* Product */

.products {
}
.container {
}
.products__inner {
}

.product__title{
    font-family: var(--font-Bar);
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: var(--color-black);
    margin-bottom: 25px;
}
.tabs-wrapper {
}
.tabs {
}
.products__tab + .products__tab {
    margin-left: 50px;
}

.products__tabs{
    margin-bottom: 20px;
}
.tab {
}
.tab--active {
}
.products__tab {
    padding-bottom: 10px;
}

.products__tab.tab--active{
    border-bottom: 2px solid var(--color-blue);
}
.tabs-container {
}
.products__container {
}
.tabs-content {
}
.tabs-content--active {
}
.products__content {
}
.product-slider {
}
.product-slider__item {
}

.product-item__wrapper{
    position: relative;
    width: 271px;

}

.product-item {
    display: block;
    border: 1px solid var(--color-light-gray-categ);
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    min-height: 400px;
}



.product-item__favorite {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 5;
}

.product-item__favorite::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../img/favorite.svg');
    cursor: pointer;
}

.product-item__favorite--active::before{
    background-image: url('../img/favorite-active.svg');
}

.product-item__img {
}
.product-item__title {
    font-weight: normal;
    padding: 14px 0 25px;
}
.price {
}
.product-item__price {
    font-family: var(--font-Bar);
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.product-item__busket {
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: var(--color-blue);
    border-radius: 10px 0 0 0;
    border: none;
    bottom: 0;
    right: 0;
    background-image: url('../img/basket-white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.product-item__busket--active{
    background-image: url('../img/basket.svg');
    background-color: var(--color-white);
}

.product-item__hover-text{
    margin: 20px;
    padding: 18px 21px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 30%;
    opacity: 0;
    transition: all .3s;
}

.product-item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
    color: var(--color-blue);
}

.product-item:hover .product-item__hover-text{
    opacity: 1;
    color: var(--color-black);
}

.product-item--sale::before{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    content: 'SALE';
    padding: 6px 15px 8px;
    background-color: var(--color-blue);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-white);
}

.product-item__wrapper.product-item__not-available .product-item__price{
    display: none;
}

.product-item__notify-text{
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.product-item:hover .product-item__notify-text{
    color: var(--color-black);
}

.product-item__wrapper.product-item__not-available .product-item__notify-text{
    display: block;
}

.product-item__wrapper.product-item__not-available .product-item__busket{
    display: none;
}

.product-item__notify-link{
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__title{
    padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link{
    display: inline-block;
    position: absolute;
    bottom: 20px;

    text-align: center;

    font-size: 16px;
    line-height: 19px;
    left: 0;
    right: 0;

    color: var(--color-blue);

}

.product-item__wrapper.product-item__not-available .product-item__notify-link span{
    border-bottom: 1px solid var(--color-blue);
}

.product-slider__slider-btnprev{
    left: -40px;
}
.product-slider__slider-btnnext{
    right: -20px;
}

.products{
    margin-bottom: 80px;
}

.product__more{
    text-align: center;
    margin: 35px 0;
}

.product__more-link{
    font-size: 15px;
    line-height: 17px;
    color: var(--color-black);

    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 43px;
    background-color: var(--color-gray);
}

.product__more-link:hover{
    color: var(--color-gray);
    background-color: var(--color-black);
}

/* Banner */
.banner{
    margin-bottom: 80px;
}