$color-white: #FFFFFF;
$color-black: #2F3035;
$color-blue: #1C62CD;
$color-gray :#F0F0F4;

$font-SFB-r: 'SFProDisplay-Regular', sans-serif;
$font-SFB-m: 'SFProDisplay-Medium', sans-serif;
$font-SFB-sb: 'SFProDisplay-Semibold', sans-serif;
$font-SFB-b: 'SFProDisplay-Bold', sans-serif;