.banner__section {
}
.container {
}
.banner__section-inner {
    display: flex;
    justify-content: space-between;
}
.banner__section__slider {
    max-width: 870px;
}
.banner__section__slider-item {
}
.banner__section__item {
}
.sale-item {
}
.sale-item__top {
}
.sale-item__info {
}
.sale-item__price {
}
.price {
}
.sale-item__price-new {
}
.sale-item__price-old {
}
.sale-item__img {
}
.sale-item__title {
}
.sale-item__footer {
}